<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="keywords" content="{%block keywords%}{%endblock%}">
    <meta name="description" content="{%block description%}{%endblock%}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    {# We place reset,css here to reset some boostrap rules #}
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/gradients.css">

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />

    {% block style %}{% endblock %}
    <script src="/static/scripts/affix_show.js"></script>
    <script src="/static/scripts/scroll_to_top.js"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %} My Shop {% endblock  %}</title>
</head>
<body class="{%block body_class%}{%endblock%}">
    <header id="{% block header_id %}header{% endblock %}">
    {%block header%}
    {%endblock%}
    </header>
    <div id='main-content' class="{%block main_content_class%}{%endblock%}">
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <a href='{%url 'catalog-root'%}'>Catalog</a>
                    <a href='{%url 'view_cart'%}'>View cart</a></div>
            </div>
        </div>
        
            {% block content %}
            CONTENT
            {% endblock %}
    </div>
    <footer id='footer'>
    {%block footer%}
    {%endblock%}
    </footer>
    </body>
</html>
