{% extends "base.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}

{% block title %}{% trans "Cambiar contraseña" %} — {{ block.super }}{% endblock %}

{%block style%}
<link rel="stylesheet" href="/static/web_shop/css/cart.css">
{%endblock%}

{% block content %}
<div id="set-password-container" class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-default">
                {% for message in messages %}
                    <div class='alert alert-{%if message.tags == "error"%}danger{%else%}success{%endif%}'>
                        {{message}}
                    </div>
                {%endfor%}
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend>{% trans 'Ingresa tu correo' %}</legend>
                            {{ form|as_vertical_form }}
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary">
                                    {% trans "Enviar Enlace" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}