{% extends "base.html" %}
{% load i18n %}

{%block style%}
<link rel="stylesheet" href="/static/web_shop/css/cart.css">
{%endblock%}


{% block title %}Cambio de contraseña — {{ block.super }}{% endblock %}

{% block content %}
<div id="set-password-container" class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <p>Tu contraseña se ha cambiado con éxito.  Ahora puedes iniciar sesion.</p>
                <p><a href="{% url 'login' %} ">Log in</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}