{% extends "base.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}

{% block title %}{% trans "Nueva contraseña" %} — {{ block.super }}{% endblock %}

{%block style%}
<link rel="stylesheet" href="/static/web_shop/css/cart.css">
{%endblock%}

{% block content %}

<div id="set-password-container" class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-body">
                {% if valid_link %}
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend>{% trans 'Nueva contraseña' %}</legend>
                            <p>Por favor ingresa tu nueva contraseña dos veces
                                para poder verificar que la escribiste correctamente.</p>
                            {{ form|as_vertical_form }}
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary">
                                    {% trans "Establecer nueva contraseña" %}
                                </button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <h1>No se pudo cambiar la contraseña</h1>
                    <p>El link que has usado para cambiar la contraseña es incorrecto,
                    esto se puede deber a que ya fué utilizado. <br />
                    Por favor solicita de nuevo el cambio de contraseña.</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
